@use "../base/colors" as c;

.categories-hero {
    padding: 0 2rem;
    margin-top: 3rem;
}

.categories-hero h1 {
    font-size: 2.1rem;
    font-weight: 700;
    margin: 0;
}

.categories-hero p {
    margin-top: .5rem;
}

.categories-message {
    padding: 0 2rem;
    margin-bottom: 1rem;
    color: c.$red;
    font-weight: 600;
}

.categories-actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.categories-section {
    padding: 0 2rem;
    min-height: 750px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    .categories {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media (max-width: 700px) {
            flex-direction: column;
        }   
    }
    
    .category-progress {
        .card-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            
            .category-button {
                aspect-ratio: 1/1;
                background: none;
                border-radius: 50%;
                border: none;
                font-size: 1.2rem;
                transition: 0.2s;
                
                &:hover {
                    background-color: color-mix(
                    in srgb,
                    c.$primary-blue 15%,
                    transparent
                    );
                }
            }
        }
        
        background: c.$white;
        border-radius: 18px;
        border: none;
        box-shadow: 0 4px 14px rgba(0,0,0,0.08);
        flex: 1;
        min-width: 300px;
        max-width: 300px;
        padding: 1.6rem;
        margin: 1rem;
    }
    
    .progress-bar-container {
        width: 100%;
        height: 15px;
        background: #ddd;
        border-radius: 10px;
        overflow: hidden;
        max-width: 800px;
    }
    
    .progress-bar-fill {
        height: 100%;
        width: 0;
        background: #4caf50;
        transition: width 0.5s ease, background 0.3s;
    }
    
    .progress-info {
        font-size: 14px;
        margin-top: 5px;
    }
}

.add-category-button-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
    
    .add-category-button {
        aspect-ratio: 1/1;
        width: 60px;
        font-size: 1.5rem;
        border-radius: 50%;
        padding: 0;
    }
}