@use "../base/colors" as c;

.categories-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;

    .categories {
        display: flex;
        flex-wrap: wrap;
    }

    .category-progress {
        .card-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            .edit-category-button {
                aspect-ratio: 1/1;
                background: none;
                border-radius: 50%;
                border: none;
                font-size: 1.2rem;
                transition: 0.2s;

                &:hover {
                    background-color: color-mix(
                        in srgb,
                        c.$primary-blue 15%,
                        transparent
                    );
                }
            }
        }

        background: c.$white;
        border-radius: 18px;
        border: none;
        box-shadow: 0 4px 14px rgba(0,0,0,0.08);
        flex: 1;
        max-width: 330px;
        min-width: 260px;
        padding: 1.6rem;
        margin: 1rem;
    }

    .progress-bar-container {
        width: 100%;
        height: 15px;
        background: #ddd;
        border-radius: 10px;
        overflow: hidden;
        max-width: 800px;
    }

    .progress-bar-fill {
        height: 100%;
        width: 0;
        background: #4caf50;
        transition: width 0.5s ease, background 0.3s;
    }

    .progress-info {
        font-size: 14px;
        margin-top: 5px;
    }
}