@use "../base/colors" as c;

main {
    .dashboard-hero {
        padding: 0 2rem;
        margin-top: 3rem;
    }

    .dashboard-hero h1 {
        font-size: 2.1rem;
        font-weight: 700;
        margin: 0;
    }

    .dashboard-hero p {
        margin-top: .5rem;
    }

    .cards-section {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        margin: 0 2rem;
        padding: 0 2rem;
    }

    .card {
        background: c.$white;
        border-radius: 18px;
        border: none;
        box-shadow: 0 4px 14px rgba(0,0,0,0.08);
        flex: 1;
        max-width: 330px;
        min-width: 260px;
        padding: 1.6rem;

        h2 {
            font-size: 1.1rem;
            color: c.$light-grey;
        }

        p {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 0.8rem;
        }
    }

    .card-body h2 {
        font-size: 1.1rem;
        color: c.$light-grey;
    }

    .amount {
        font-size: 2rem;
        font-weight: 700;
        margin-top: .8rem;
    }

    .amount.negative {
        color: c.$red;
    }

    .amount.positive {
        color: c.$green;
    }

    .chart-section {
        margin-top: 3rem;
        padding: 0 2rem;
    }

    .chart-card {
        background: c.$white;
        border-radius: 18px;
        box-shadow: 0 4px 14px rgba(0,0,0,0.08);
        padding: 2rem;
    }

    .chart-wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
    }

    @media (min-width: 1440px) {
        .chart-wrapper {
            flex-wrap: nowrap;
        }
    }

    .chart-stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .transactions-section {
        margin-top: 3rem;
        padding: 0 2rem 3rem;
        margin-bottom: 5rem;
    }

    .transactions-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .transaction-list {
        margin-top: 1.4rem;
    }

    .transaction-item {
        background: c.$white;
        padding: 1rem 1.2rem;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 10px rgba(0,0,0,0.07);
        margin-bottom: .8rem;
    }

    .t-cat {
        color: c.$light-grey;
    }

    .t-amount {
        font-weight: bold;
        color: c.$red;
    }
}