.expenses-hero {
    padding: 0 2rem;
    margin-top: 3rem;

    h2 {
        font-size: 2.1rem;
        font-weight: 700;
        margin: 0;
    }

    p {
        margin-top: .5rem;
    }
}

.transaction-header {
    font-weight: bold;
}

.transaction-section {
    margin-top: none;
}
