@use "../base/colors" as c;

header {
  .finance-navbar {
    background-color: c.$primary-color;
    box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;

    .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar-brand {
        color: c.$white;
        font-size: 1.4rem;
        font-weight: 700;
      }

      .nav-link {
        color: c.$very-light-grey;
        font-size: 1.1rem;
        position: relative;
        transition: 0.3s;

        &:hover {
          color: c.$white;
          transform: translateY(-1px);

          &::after {
            width: 100%;
          }
        }

        &::after {
          background: c.$white;
          bottom: -3px;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          transition: width 0.3s;
          width: 0;
        }
      }

      .navbar-toggler {
        border: none;

        .navbar-toggler-icon {
          filter: invert(100%);
        }
      }

      .navbar-add-transaction {
        .add-transaction-btn {
          border-radius: 50%;
          color: c.$white;
          font-size: 1.2rem;
          padding: 0.5rem;
          transition: 0.2s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.15);
            cursor: pointer;
          }
        }
      }

      .navbar-profile {
        .profile-btn {
          border-radius: 50%;
          color: c.$white;
          font-size: 1.2rem;
          padding: 0.5rem;
          transition: 0.2s;

          &:hover {
          background-color: rgba(255, 255, 255, 0.15);
          }
        }
      }

      .navbar-collapse {
        padding-right: 3rem;
      }
    }
  }
}
